body
  background black
  font-family: 'Cutive Mono', monospace;
blockquote 
  font-family: 'Cutive Mono', monospace;

.bespoke-parent
  color #111

.bespoke-slide
  background #eee
  background-position 99% 98.25%
  background-repeat no-repeat
  background-size 18%
  font-family: 'Cutive Mono', monospace;

h1
  font-family: 'Cutive Mono', monospace;

h1:after
  border: 1px solid #111;
  border-left: none;
  border-right: none;
  display: flex;
  content: '';
  height: 0px;
  margin-top: -4px;
  width: 640px;
  margin-left: -14px;
  margin-bottom: 20px;

table
  border-bottom: dotted 1px #e3e5e8

thead
  background #8c2425
  color #fff

tbody
  tr:nth-child(odd)
    background #e3e5e8


a, a:visited, a:active, a:link
  font-size 0.8em
  color: #111


.language-sh, .language-bash
  outline 1px solid cream

    
.section-title, .title-page, .image-no-title
  justify-content center


pre.language-javascript
  border 1px solid #861001


code.language-sh, code.language-bash
  background #022550
  color white
  border 1px solid #1167bd

pre[class*="language-"]
  padding: 0.03em
  text-shadow: none
  span
    text-shadow: none

ul
  li
    list-style-type: circle
